<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>sub2/hello</title>
	</head>
	<body>
		<h3>Spring MVC 실습</h3>
		<h1>sub2/hello</h1>
		
		<h4>Main</h4>
		<a href="/Ch04/hello">hello</a>
		<a href="/Ch04/welcome">welcome</a>
		<a href="/Ch04/greeting">greeting</a>
		
		<h4>Sub1</h4>
		<a href="/Ch04/sub1/hello">hello</a>
		<a href="/Ch04/sub1/welcome">welcome</a>
		<a href="/Ch04/sub1/greeting">greeting</a>
		
		<h4>Sub2</h4>
		<a href="/Ch04/sub2/hello">hello</a>
		<a href="/Ch04/sub2/welcome">welcome</a>
		<a href="/Ch04/sub2/greeting">greeting</a>
		
		<h4>Sub3</h4>
		<a href="/Ch04/sub3/hello">hello</a>
		<a href="/Ch04/sub3/welcome">welcome</a>
		<a href="/Ch04/sub3/greeting">greeting</a>
	
	</body>
</html>